@font-face {
    font-family: jost;
    src: url(archivos/jost.ttf);
}

* {
    font-family: jost;
    margin: 10px;
}

body {
    background-color: rgb(248, 215, 165);
    text-align: justify;
}

#titleimg {
    width: 101%;
    margin: 30px 0px 0px 0px;
}

#title {
    font-family: jost;
    font-size: 6em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-size: 3.5em;
    margin: 30px 0px 40px 0px;
    display: flex;
    justify-content: center;
}

.text {
    font-size: 2em;
}

.albumcard {
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#albums {
    display: flex;
    justify-content: space-evenly;
}

img:hover {
    width: 260px;
    transition-duration: 1s;
    
}

img {
    width: 240px;
}

footer {
    font-size: 1.5em;
    background-color:red;
    margin-top: 40px;
    gap: 2em;
    border: 2px solid red;
    border-width: 40px 40px 80px 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.link {
    color: yellow;
}

.link:active {
    color: red;
    background-color: yellow;
}